
.article {
	.tags {
		margin-bottom: 60px;
		padding-bottom: unset;
		padding-left: 30px;

		@include respond-to(tablet) {
			margin-bottom: 30px;
		}
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		@include respond-to(tablet-xl) {
			grid-template-columns: 1fr;
		}
	}

	&__img {
		height: min(100%, 37.6vw);

		img {
			border-radius: var(--b-radius-first);
			height: 100%;
			object-fit: cover;
		}

		@include respond-to(tablet-xl) {
			height: 100%;
			max-height: 480px;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;

		&-text {
			border-radius: var(--b-radius-first);
			padding: 60px;

			@include respond-to(tablet-xl) {
				padding: 60px 30px;
			}

			@include respond-to(mobile) {
				padding: 30px;
			}
		}
	}

	.title {
		&__second {
			margin-bottom: 30px;
			padding-left: 30px;
		}

		&__third {
			margin-bottom: 30px;
			@include respond-to(tablet) {
				font-size: 22px;
				margin-bottom: 15px;
			}
		}
	}

	p + p {
		margin-top: 30px;
	}

	&__content {
		columns: 2 400px;
		column-gap: 60px;
		margin-top: 20px;
		border-radius: var(--b-radius-first);
		padding: 60px;

		p + ul,
		ul + p,
		ul + [class^="title"] {
			margin-top: 30px;

			@include respond-to(tablet) {
				margin-top: 15px;
			}
		}

		ul {
			break-inside: avoid;
			@include respond-to(tablet) {
				padding-left: 10px !important;
			}

			li {
				font-weight: 400 !important;
				font-size: 16px !important;
				@include respond-to(tablet) {
					font-size: 14px !important;
				}
			}
		}

		@include respond-to(tablet-xl) {
			padding: 60px 30px;
		}

		@include respond-to(mobile) {
			padding: 30px;
		}
	}

	p {
		@include respond-to(mobile) {
			font-size: 14px;
		}
	}

	&.container {
		@include respond-to(tablet) {
			padding-right: unset;
			padding-left: unset;
		}
	}

	@include respond-to(laptop) {
		padding-right: 50px;
		padding-left: 50px;
	}
}