.how-long {
	[class^=title] {
		margin-bottom: 20px;
		max-width: 570px;
	}
	&__slide {
		&--accent {
			background: var(--color-first);
		}
	}
	font-weight: 500;
	&__content {
		&-top {
			&-title {
				font-size: 140px;
				font-family: "DaysOne", sans-serif;
				color: var(--color-first);
				line-height: 0.8;
			}
			&-subtitle {
				font-size: 30px;
				font-family: "DaysOne", sans-serif;
			}
		}
		&-bottom {
			margin-top: 30px;
		}
		&-top,
		&-bottom {
			max-width: 258px;
		}
	}
}