.how-long {
	font-weight: 500;

	[class^="title"] {
		margin-bottom: 20px;
		padding-left: 30px;
		max-width: 570px;

		@include respond-to(tablet) {
			padding-left: unset;
		}
	}

	&__slide {
		&--accent {
			background: var(--color-first);
		}
	}

	&__content {
		&-top {
			&-title {
				font-family: "DaysOne", sans-serif;
				font-size: 140px;
				line-height: 0.8;
				color: var(--color-first);
			}

			&-subtitle {
				font-family: "DaysOne", sans-serif;
				font-size: 30px;
			}
		}

		&-bottom {
			margin-top: 30px;
		}

		&-top,
		&-bottom {
			max-width: 258px;
		}
	}
}