.our-teachers {
	[class^="title"] {
		margin-bottom: 20px;
		text-align: center;
	}
	.container {
		padding-top: unset;
		padding-bottom: unset;
	}

	&__img {
		--size: clamp(167px, 113.5017px + 11.2628vw, 200px);

		overflow: hidden;
		margin-bottom: 20px;
		border-radius: 100%;
		width: var(--size);
		height: var(--size);
		background: var(--color-white);

		img {
			height: 100%;
			object-fit: cover;
		}

		&--first {
			display: flex;
			align-items: end;
			justify-content: center;

			svg {
				width: calc(var(--size) - 50px);
			}
		}
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 10px;

		&--accent {
			background: var(--color-first);
		}
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
	}

	&__text {
		max-width: 290px;
		line-height: 1.5;
	}
}
