.container {
	margin: 0 auto;
	padding-top: var(--side-offset-second);
	padding-right: var(--side-offset-second);
	padding-bottom: var(--side-offset-second);
	padding-left: var(--side-offset-second);
	max-width: var(--container-width);

	&:not([class^="bg"]) {
		max-width: calc(var(--container-width) + calc(var(--side-offset) * 2));
	}
}

header,
footer {
	flex: 0 0 auto;
	width: 100%;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

body [data-barba] {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	height: 100%;
}

footer {
	margin-top: auto;
}

section:last-child {
	margin-bottom: clamp(45px, -60.3754px + 22.1843vw, 110px);
}