.banner {
	margin-top: 60px;
	padding: 30px;
	padding-right: 65px;
	padding-left: 124px;

	.title__second {
		margin-bottom: 60px;
	}

	.text-arrow {
		padding-left: 30px;
	}

	ul {
		margin-bottom: 90px;
	}

	.btn {
		margin-top: 10px;
	}
}