// $name - имя шрифтового семейства;
// $file - имя файла;
// $weight - жирность шрифта (по-умолчанию установлено значение 400, но если мы передадим параметр, то значение по-умолчанию будет проигнорировано)
// $style - стиль начертания (тоже установлен по-умолчанию normal)

@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		src:
			local("#{$file}"),
			url("../fonts/#{$file}.woff2") format("woff2"),
			url("../fonts/#{$file}.woff") format("woff");
		font-family: "#{$name}";
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face("DaysOne", "DaysOne-Regular", 400);
@include font-face("ShantellSans", "ShantellSans-Regular", 400);
@include font-face("ShantellSans", "ShantellSans-Medium", 500);
@include font-face("Inter", "Inter_18pt-Regular", 400);
@include font-face("Inter", "Inter_18pt-Medium", 500);
@include font-face("Inter", "Inter_18pt-Bold", 700);

.color {
	&--first {
		color: var(--color-third);
	}

	&--second {
		color: var(--color-first);
	}
}

// hover paws
.header a {
	@media (hover: hover) {
		&:hover {
			transform: scale(1);
			cursor: url("../img/hover-paws_light.svg"), pointer;
		}
	}
}

[cursor="paws-light"] {
	cursor: url("../img/hover-paws_light.svg"), pointer;
}

[cursor="paws-dark"] {
	cursor: url("../img/hover-paws_dark.svg"), pointer;
}

.bg {
	&__first {
		background: center / cover no-repeat url("../img/bg_1.webp");
	}

	&__second {
		background: center / cover no-repeat url("../img/bg_2.webp");
	}

	&__third {
		background: var(--color-second);
	}

	&__fourth {
		background: var(--color-light);
	}
}

.border-radius {
	&__first {
		border-radius: var(--b-radius-first);
	}
}

[data-barba] {
	position: absolute;
	width: 100%;
}

section ul:not(.no-list, .levels) {
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	gap: 15px;

	li {
		position: relative;
		padding-left: 37px;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.4;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 3px;
			width: 22px;
			height: 22px;
			background: center / contain no-repeat url("../img/i-paws.svg");
		}

		@include respond-to(tablet-xl) {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	@include respond-to(tablet-xl) {
		gap: 10px;
	}
}

i.text-arrow {
	position: relative;
	display: block;
	width: max-content;
	font-family: "ShantellSans", sans-serif;

	img {
		position: absolute;
	}

	&__first {
		padding-bottom: 23px;

		img {
			right: -43px;
			top: 7px;
			width: 27px;
			height: 30px;

			@include respond-to(tablet-xl) {
				right: -32px;
				width: 22px;
			}
		}
	}

	&__second {
		padding-bottom: 23px;

		img {
			right: -83px;
			top: 5px;
			width: 105px;
			height: 38px;

			@include respond-to(tablet-xl) {
				right: -55px;
				top: 10px;
				width: 65px;
				height: 30px;
			}
		}
	}
}

@keyframes info {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5px);
	}
}

.info {
	flex-shrink: 0;
	font-family: "ShantellSans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.32;
	animation: info 1.5s infinite alternate-reverse ease-in-out;

	&__first {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px 50px;
		width: 173px;
		height: 213px;
		text-align: center;
		background: center / contain no-repeat url("../img/info_1.svg");

		@include respond-to(tablet-xl) {
			padding: 40px 10px 50px;
			width: clamp(143px, 52.6471px + 11.7647vw, 173px);
		}

		@include respond-to(tablet) {
			width: clamp(105px, 43.3959px + 12.9693vw, 143px);
		}

		@include respond-to(mobile) {
			padding: 40px 5px 50px;
		}
	}

	&__second {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 50px 30px 60px;
		width: 190px;
		height: 200px;
		text-align: center;
		background: center / contain no-repeat url("../img/info_2.svg");

		@include respond-to(tablet-xl) {
			width: clamp(150px, 30px + 15.625vw, 190px);
		}

		@include respond-to(tablet) {
			padding: 50px 20px 60px;
			width: clamp(130px, 97.5768px + 6.8259vw, 150px);
		}
	}

	@include respond-to(tablet-xl) {
		font-size: clamp(11px, -4.0588px + 1.9608vw, 16px);
	}
}

section:not(.banner-wrap) + section[class] {
	margin-top: 95px;
}

.slides {
	&__item {
		border-radius: var(--b-radius-first);
		padding: clamp(30px, -18.6348px + 10.2389vw, 60px);
		height: auto;
		background: var(--color-light);
	}

	.swiper {
		@include respond-to(tablet) {
			margin-right: calc(var(--side-offset-second) * -1);
			margin-left: calc(var(--side-offset-second) * -1);
			padding-right: 30px;
			padding-left: 30px;
		}

		@include respond-to(mobile) {
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}

.overflow-hidden {
	overflow: hidden;
}

.text-decor {
	--offset: 190px;

	position: relative;
	display: block;
	margin-right: calc(var(--offset) * -1);
	margin-left: calc(var(--offset) * -1);
	width: calc(100% + (var(--offset) * 2));
	font-family: "DaysOne", sans-serif;
	font-size: min(9vw, 145px);
	text-align: center;
	text-transform: uppercase;
	color: var(--color-light);
	opacity: 0.3;
	text-wrap: nowrap;
	padding: 20px 0;

	@include respond-to(tablet) {
		padding: 30px 0;
	}
}

.installment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	border-radius: 60px;
	padding: 35px 60px;
	max-width: 660px;
	box-shadow: 0 4px 10px 0 rgba(45, 42, 51, 0.3);
	font-weight: 700;
	background: var(--color-white);
	gap: 20px;

	p {
		max-width: clamp(200px, 47.3282px + 40.7125vw, 360px);
		font-size: clamp(14px, 4.458px + 2.5445vw, 24px);
		line-height: 1.2;
	}

	img {
		max-width: clamp(40px, 19.0076px + 5.598vw, 62px);
		max-height: 80px;
	}

	@include respond-to(mobile) {
		margin-top: 15px;
		border-radius: 40px;
		padding: 30px;
	}
}

.page-home {
	section.grid,
	section.online-courses .container,
	section.how-long .container {
		padding-top: unset;
		padding-bottom: unset;
	}

	section.grid + .test-level {
		position: relative;
		z-index: 5;
	}
	section.course-program,
	section.training {
		margin-top: 35px !important;
	}
}