$laptop: 1280px;
$tablet-xl: 1023px;
$tablet: 767px;
$mobile: 475px;

:root {
	--color-first: #B2E01E;
	--color-second: #BAB7F1;
	--color-third: #1C199A;

	--color-white: #FFF;
	--color-light: #F4F4F4;
	--color-dark: #2D2A33;

	--color-error: #E00A0D;

	--b-radius-first: 60px;
	--b-radius-second: 10px;

	--anim4: 0.4s ease-in-out;
	--anim2: 0.2s ease-in-out;
	--anim1: 0.1s ease;

	--side-offset: 60px;
	--side-offset-second: 60px;

	--top-offset: 30px;
	--top-offset-second: 60px;

	// animation: name duration timing-function delay iteration-count direction fill-mode;
	--wiggle: wiggle_arrow 5s cubic-bezier(0.52, -0.12, 0.44, 0.99) 2s infinite;


	--container-width: 1340px;

	@media screen and (max-width: $laptop) {
		--side-offset-second: 50px;
	}
	@media screen and (max-width: $tablet-xl) {
		--side-offset: 30px;
		--b-radius-first: 40px;
		--side-offset-second: clamp(30px, -18.6348px + 10.2389vw, 60px);
	}

	// @media screen and (max-width: $mobile) {
	// 	--side-offset: 15px;
	// }
}

@mixin respond-to($media) {
	// > $mobile
	@if $media == mobile {
		@media screen and (max-width: $mobile) {
			@content;
		}

	// > $tablet
	} @else if $media == tablet {
		@media screen and (max-width: $tablet) {
			@content;
		}

	// > $tablet
	} @else if $media == tablet-xl {
		@media screen and (max-width: $tablet-xl) {
			@content;
		}

	// > $laptop
	} @else if $media == laptop {
		@media screen and (max-width: $laptop) {
			@content;
		}
	}
}
